.border{
    border:2px solid red;

}
.flex{
    display:flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.p-1{
    padding:10px;
}
.bg-grey{
    background-color:rgb(18,18,18) ;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.bg-black{
    background-color: black;
}
.m-t{
    margin-top: 10px;
}
.bg-g2{
        background-color:rgb(32, 32, 32) 
}
